.nft-collections {
  width: 80rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: 1.2s show ease;
}

.collection-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 27px;
  border-radius: 10px;
  box-shadow: 1px 1px 12px 1px #735F32;
  margin-bottom: 15px;
  align-items: center;
  max-width: 400px;
}

.card-hidden {
  transition: 0.25s;
  opacity: 0;
  visibility: hidden;
}

.collection-card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px 1px #C69749;
}

.collection-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-card__img {
  display: inline-block;
  overflow: hidden;
}

.collection-card__img img {
  display: block;
  width: 400px;
  height: 400px;
  transition: 0.25s;
}

.collection-card__img img:hover {
  transform: scale(1.1);
}

.collection-card__title {
  margin: 10px 0;
}

.collection-card__minted {
  font-size: 22px;
}

.collection-card__mint-cost {
  font-size: 22px;
  padding-top: 7px;
}

.collection-card__btn-mint {
  padding-top: 10px;
}

.collection-card__btn-mint button {
  border: none;
  color: white;
  transition-duration: 0.25s;
  font-size: 25px;
  padding: 10px 0;
  width: 100vw;
}

.non-soldout {
  background-color: #b08541;
}

.non-soldout:hover {
  cursor: pointer;
  background-color: #C69749;
}

.soldout {
  background-color: #735F32;
}

.detail-collection {

}
