.nft-collections {
  width: 60rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: 1.2s show ease;
}

.collection-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 1px 1px 12px 1px #735F32;
  margin-bottom: 15px;
}

.collection-card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px 1px #C69749;
}

.collection-card__img {
  display: inline-block;
  overflow: hidden;
}

.collection-card__img img {
  display: block;
  width: 400px;
  height: 400px;
  transition: 0.25s;
}

.collection-card__img img:hover {
  transform: scale(1.1);
}

.collection-card__title {
  margin: 10px 0;
  align-self: center;
}
