.homePage {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  animation: 1s show ease;
}

.homePage__links {
  display: flex;
}

.homePage__links > a {
  font-size: 30px;
  padding: 0 30px;

  transition-duration: 0.5s;
  transition-property: color;
}

.homePage__links :hover {
  color: #f6bb5e;
}

.homePage__links :first-child {
  padding-left: 0;
}

.homePage__links :last-child {
  padding-right: 0;
}

.homePage_hr {
  width: 55rem;
  margin: 25px 0;
}

.active {
  color: #f6bb5e;
}

.non-active {
  color: #735F32;
}
