.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__wallet {
  animation: 1s show ease;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1250px;
  justify-content: space-between;
}
